<div class="container">

  <div class="jumbo">
    <div class="row">
      <div class="col-2">
        <i class="fas fa-question fa-7x text-yellow-dark"></i>
      </div>
      <div class="col-8">
        <h1 class="text-green"> Frequently Asked Questions </h1> <br>
        <span class="text-muted">We are here to help you</span>
      </div>
    </div>
  </div>
  <!-- place for form seacrh -->
  <app-form-search></app-form-search>
  <div class="mt-5">
    <div class="text-center mb-3">
      <h3 class="text-green"> Getting Started </h3>
      <span class="text-muted">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </span>
    </div>
  </div>
  <!-- place for main Content -->
  <app-main-content></app-main-content>
</div>


